<div class="container" style="font-family: Arial, sans-serif; background-color: #f0f0f0;">
    <div class="header-wrapper" data-v-255a0423="" data-v-7e4ba915="">
        <div class="container header-container" data-v-7e4ba915="">
            <div class="logo" data-v-7e4ba915=""></div>
            <div class="need-help-box" style="display:none;" data-v-7e4ba915="">
                <div class="need-help-icon" data-v-7e4ba915=""></div><span class="need-help-text"
                    data-v-7e4ba915="">Need Help?</span>
            </div>
        </div>
    </div>
    <div class="web-container tac error-page" data-v-255a0423="" style="margin-top: 50px;">
        <div class="img-box" data-v-255a0423=""><img class="error-img"
                src="/images/404.png" alt="error" data-v-255a0423=""></div>
        <div class="message" data-v-255a0423="" style="font-size: 24px; color: red;">404 Page not found</div>
    </div>
</div>
`