<style type="text/css">
  .searchbox li {
    min-width: auto;
  }
  .forms > ul >li {position: relative;}
</style>
<section ng-controller="accountMasterCtrl">
  <div class="titles">{{subbreadcrumb}}</div>
  <form name="myform" ng-submit="save()" novalidate>
    <div class="white-box forms notop">
      <ul>
        <li class="width10">
          <div>
              <label for="accountCode">Account code</label>
              <input type="text" no-special-characters ng-disabled="flag" class="textfield" ng-model="form.accountCode" id="accountCode"
                  placeholder="Account code" maxlength="9" required name="accountCode" ng-change="formSubmitted = false"
                  alphanumeric-validation ng-blur="checkForDuplicate()">
              <div class="error"
                  ng-show="myform.accountCode.$error.required && myform.accountCode.$touched && !formSubmitted">
                  This field is required.
              </div>
              <div class="error"
                  ng-show="myform.accountCode.$error.alphanumeric && myform.accountCode.$touched && !formSubmitted">
                  Please enter an alphanumeric value.
              </div>
              <div class="error"
                  ng-show="duplicateCode && myform.accountCode.$touched">
                       This Account Code already exists.
               </div>
          </div>
      </li>
      
        <li class="width30">
          <div>
            <label for="dscr">Description</label>
            <input type="text" no-special-characters class="textfield" ng-model="form.dscr" id="dscr" placeholder="Description" maxlength="75"
              required name="dscr">
            <div class="error" ng-show="myform.dscr.$error.required && myform.dscr.$touched && !formSubmitted">
              This field is required.
            </div>
          </div>
        </li>
        <li class="width10">
          <div>
            <label for="operative">Operative</label>
            <select ng-init="form.operative = form.operative || 'Y'" ng-model="form.operative" class="dropdd">
              <option value="Y">Yes</option>
              <option value="N">No</option>
            </select>
          </div>
        </li>
        <li>
          <div>
            <label for="glGroupCode">GL Group Code</label>
            <select ng-model="form.glGroupCode" class="dropdd" required name="glGroupCode">
              <option value="" disabled selected>Select GL Group Code</option>
              <option ng-repeat="x in glgroupData" value="{{x.glGroupCode}}">{{x.glGroupCode}} -
                {{x.dscr}}</option>
            </select>
            <div class="error"
              ng-show="myform.glGroupCode.$error.required && myform.glGroupCode.$touched && !formSubmitted">
              This field is required.
            </div>
          </div>
        </li>
        <li>
          <div>
            <button type="submit" class="bluebtn" style=" margin-top: 15px;" ng-disabled="myform.$invalid || duplicateCode" >Save</button>
          </div>
        </li>
      </ul>
    </div>
  </form>



  <div class="white-box ">
    <!-- search Box -->
    <ul class="searchbox">
      <li><input type="text" class="textfield" ng-change="search(keyword1,keyword2)" ng-model="keyword1" placeholder="Account Code" /></li>
      <li><input class="textfield" type="text" ng-change="search(keyword1,keyword2)" ng-model="keyword2" placeholder="Description" /></li>
      <li><button class="bluebtn" ng-click="search(keyword1,keyword2)">Search</button></li>
    </ul>
    <table class="table table-bordered text-center regtable table-condensed">
      <thead>
        <tr>
          <th style="text-align: center;" width="200">Account code</th>
          <th width="300">Description</th>
          <th width="200">Operative</th>
          <th width="200">GL Group Code</th>
          <th width="200">GL Description</th>



          <!-- <th width="300">GL Description</th> -->
          <th width="200">Action</th>

          <!-- <th>Gl group code</th> -->

        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="n in accMasterData" class="tdcolor">
          <td ng-bind="n.accountCode"> </td>
          <td ng-bind="n.dscr|uppercase"></td>
          <td>{{ n.operative === 'Y' ? 'Yes' : 'No' }}</td>
          <td ng-bind="n.glGroupCode"> </td>
          <td ng-bind="glcodeDrsc(glgroupData,n.glGroupCode) | uppercase"> </td>




          <td><button type="button" class="bluebtn" ng-click="edit(n)">Edit</button>

          </td>

        </tr>


      </tbody>
    </table>

  </div>

</section>