<!DOCTYPE html>
<html>

<head>
  <title>Advance Fully Deducted</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="images/nrt-logo.svg" type="image/x-icon" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <script src="js/jquery-3.6.0.min.js"></script>
  <!-- <script src="js/bootstrap.min.js"></script>    -->
  <link rel="stylesheet" href="css/style.css">

</head>

<body>

  <header class="topheading">
    <div class="logo">
      <img src="images/nrt-logo.svg" alt="" />
    </div>
    <a class="btn bluebtn" href="dashboard.html">Back</a>
    <a class="userlogin" href="index.html">Amit Kumar <span><img src="images/userimg.jpg" alt="student" /></span></a>

  </header>
  <section class="formsec">
    <div class="container">
      <div class="titles text-center">Advance Fully Deducted</div>
      <form>
        <div class="white-box forms form2">
          <h3>Adjustment Details:</h3>
          <ul>
            <li class="smallsec">
              <div>
                <label>Adjustment Year</label>
                <input type="text" class="textfield" name="adjustment_year" value="" placeholder="" />
              </div>
            </li>
            <li class="smallsec">
              <div>
                <label>Month</label>
                <div>
                  <input type="text" class="textfield" name="month" value="" placeholder="" />
                </div>
              </div>
            </li>
            <li class="smallsec">
              <div>
                <label>Sl No.</label>
                <div>
                  <input type="text" class="textfield" name="sl_no" value="" placeholder="" />
                </div>
              </div>
            </li>
            <li class="width35">
              <div>
                <label>Advance Type</label>
                <div class="flexbox">  
                  <input type="text" class="textfield" name="advance_type" value="" placeholder="" />
                  <input type="text" class="textfield" name="advance_type" value="" placeholder="" />
                </div>
              </div>
            </li>
            <li class="smallsec"> 
              <div>
                <label>Population Date</label>
                <div>
                  <input type="text" class="textfield datepicker" name="population_date" value="" placeholder="" />
                </div>
              </div>
            </li>
          </ul>
          <ul>  
            <li class="width35"> 
              <div>
                <label>Voucher Type</label>
                <div class="flexbox">  
                  <input type="text" class="textfield" name="voucher_type" value="" placeholder="" />
                  <label>-</label>
                  <input type="text" class="textfield" name="voucher_type" value="" placeholder="" />
                </div>
              </div>
            </li>
            <li class="smallsec"> 
              <div>
                <label>Voucher No.</label>
                <div>
                  <input type="text" class="textfield" name="voucher_no" value="" placeholder="" />
                </div>
              </div>
            </li>
            <li class="smallsec2"> 
              <div>
                <label>Voucher Date</label>
                <div>
                  <input type="text" class="textfield datepicker" name="voucher_date" value="" placeholder="" />
                </div>
              </div>
            </li>
            <li > 
              <div>
                <label>Voucher Status</label>
                <div>
                  <input type="text" class="textfield" name="voucher_status" value="" placeholder="" />
                </div>
              </div>
            </li>
          </ul>
        </div>
           
       
        <div class="white-box forms form2">
          <h3>Payee wise Deduction Details</h3>
          <ul>
            <li class="smallsec"> 
              <div>
                <label>Advance Id</label>
                <div>
                  <input type="text" class="textfield" name="advance_id" value="" placeholder="" />
                </div>
              </div>
            </li>
            <li class="smallsec"> 
              <div>
                <label>Fin Year</label>
                <div>
                  <input type="text" class="textfield" name="fine_year" value="" placeholder="" />
                </div>
              </div>
            </li>
            <li class="smallsec"> 
              <div>
                <label>Deduct Sl No.</label>
                <div>
                  <input type="text" class="textfield" name="deduct_sl" value="" placeholder="" />
                </div>
              </div>
            </li>
            <li class="width35">
              <div>
                <label>Advance Type</label>
                <div class="flexbox">  
                  <input type="text" class="textfield" name="advance_type" value="" placeholder="" />
                  <input type="text" class="textfield" name="advance_type" value="" placeholder="" />
                </div>
              </div>
            </li>
            <li class="smallsec"> 
              <div>
                <label>Payee Type</label>
                <div>
                  <input type="text" class="textfield" name="payee_type" value="" placeholder="" />
                </div>
              </div>
            </li>
            </ul>
            <ul>
            <li class="smallsec">
              <div>
                <label>Vendor Code</label>
                <div class="flexbox">  
                  <input type="text" class="textfield" name="vendor_code" value="" placeholder="" />
                  <input type="text" class="textfield" name="vendor_code" value="" placeholder="" />
                </div>
              </div>
            </li>
            <li class="smallsec">
              <div>
                <label>Employee No.</label>
                <div class="flexbox">  
                  <input type="text" class="textfield" name="employee_no" value="" placeholder="" />
                  <input type="text" class="textfield" name="employee_no" value="" placeholder="" />
                </div>
              </div>
            </li>
            <li class="smallsec">
              <div>
                <label>Student Reg No.</label>
                <div class="flexbox">  
                  <input type="text" class="textfield" name="student_reg" value="" placeholder="" />
                  <input type="text" class="textfield" name="student_reg" value="" placeholder="" />
                </div>
              </div>
            </li>
            </ul>
            <ul>
            <li class="width24"> 
              <div>
                <label>Paid to</label>
                <div>
                  <input type="text" class="textfield" name="paid_to" value="" placeholder="" />
                </div>
              </div>
            </li>
            <li class="smallsec">
              <div>
                <label>Department</label>
                <div class="flexbox">  
                  <input type="text" class="textfield" name="department" value="" placeholder="" />
                  <input type="text" class="textfield" name="department" value="" placeholder="" />
                </div>
              </div>
            </li>
            <li class="smallsec">
              <div>
                <label>College</label>
                <div class="flexbox">  
                  <input type="text" class="textfield" name="college" value="" placeholder="" />
                  <input type="text" class="textfield" name="college" value="" placeholder="" />
                </div>
              </div>
            </li>
            <li class="smallsec">
              <div>
                <label>University</label>
                <div class="flexbox">  
                  <input type="text" class="textfield" name="university" value="" placeholder="" />
                  <input type="text" class="textfield" name="university" value="" placeholder="" />
                </div>
              </div>
            </li>
            </ul>
            <ul>
            <li class="smallsec"> 
              <div>
                <label>From Date</label>
                <div>
                  <input type="text" class="textfield datepicker" name="from_date" value="" placeholder="" />
                </div>
              </div>
            </li>
            <li class="smallsec"> 
              <div>
                <label>To Date</label>
                <div>
                  <input type="text" class="textfield datepicker" name="to_date" value="" placeholder="" />
                </div>
              </div>
            </li>
            <li class="width24"> 
              <div>
                <label>Place</label>
                <div>
                  <input type="text" class="textfield" name="palce" value="" placeholder="" />
                </div>
              </div>
            </li>
            <li class="smallsec"> 
              <div>
                <label>City</label>
                <div>
                  <input type="text" class="textfield" name="city" value="" placeholder="" />
                </div>
              </div>
            </li>
            <li class="smallsec"> 
              <div>
                <label>State</label>
                <div>
                  <input type="text" class="textfield" name="state" value="" placeholder="" />
                </div>
              </div>
            </li>
            <li class="smallsec"> 
              <div>
                <label>Country</label>
                <div>
                  <input type="text" class="textfield" name="countery" value="" placeholder="" />
                </div>
              </div>
            </li>
            <li class="smallsec"> 
              <div>
                <label>Foreign</label>
                <div>
                  <input type="text" class="textfield" name="foregin" value="" placeholder="" />
                </div>
              </div>
            </li>
            </ul>
            <ul>
            <li >
              <div>
                <label>Voucher Type</label>
                <div class="flexbox">  
                  <input type="text" class="textfield" name="voucher_tyoe" value="" placeholder="" />
                  <label>-</label>
                  <input type="text" class="textfield" name="voucher_type" value="" placeholder="" />
                </div>
              </div>
            </li>
            <li class="smallsec2"> 
              <div>
                <label>Voucher No.</label>
                <div>
                  <input type="text" class="textfield" name="voucher_no" value="" placeholder="" />
                </div>
              </div>
            </li>
            <li class="smallsec2"> 
              <div>
                <label>Voucher Date</label>
                <div>
                  <input type="text" class="textfield datepicker" name="voucher_date" value="" placeholder="" />
                </div>
              </div>
            </li>
            <li >
              <div>
                <label>Account Code<sup>*</sup></label>
                <div class="flexbox">  
                  <input type="text" class="textfield" name="account_code" value="" placeholder="" />
                  <input type="text" class="textfield" name="accouont_code" value="" placeholder="" />
                </div>
              </div>
            </li>
          </ul>
          <ul>
            <li>
              <div class="flexbox">
                <label>Advance Amount</label>
                <input type="text" class="textfield" name="advance_amount" value="" placeholder="" />
              </div>
            </li>
            <li>
              <div class="flexbox">
                <label>Deducted Amount</label>
                <input type="text" class="textfield" name="deducted_amount" value="" placeholder="" />
              </div>
            </li>
            <li>
              <div class="flexbox">
                <label>Voucher Status</label>
                <input type="text" class="textfield" name="voucher_status" value="" placeholder="" />
              </div>
            </li>
          </ul>
          <div class="btnlist">
              <ul> 
                  <li><div><button type="submit" class="bluebtn">Next</button></div></li> 
                  <li><div><button type="submit" class="bluebtn">Previous</button></div></li> 
              </ul>
          </div>
          
        </div>  

      </form>
    </div>
  </section>
  <footer class="footerbg">
    © 2023 All Rights Reserved.
  </footer>

  <link rel='stylesheet' type='text/css' href='css/bootstrap-datepicker.min.css'>
  <script type='text/javascript' src='js/bootstrap-datepicker.min.js'></script>
  <script type="text/javascript">
    $('.datepicker').datepicker({
      format: "dd-mm-yyyy",
      autoclose: true
      //startDate: new Date('2022-7-15'),
      // endDate:  new Date('2022-8-15')
    });  
  </script>


</body>

</html>