<style>
  .tabs-container {
    position: relative;
  }
</style>

<section class="formsec" ng-controller="cashRecVouCtrl">
<div class="flextitles">
<div class="titles">{{subbreadcrumb}}</div>
<div><button class="bluebtn" ng-click="goDataLst()">Voucher List</button></div>
</div> 
    <div class="tabsec">
      <ul class="tabs-container">
        <li><a class="tablink active" data-title="tab1" id="t1"  ng-click="tabToggle('1')">{{subbreadcrumb}}</a></li>
        <li><a class="tablink" data-title="tab2" id="t2" ng-click="tabToggle('2')">Cash Receipt  Voucher Details</a></li> 
      </ul>

    </div>
    <div id="tab1" class="maintabsec active">
      <form name="cForm" ng-submit="saveCashForm()">
        <div class="titles">{{subbreadcrumb}}</div>
        <div class="white-box forms notop">
          <ul>
            <li ng-if="cform.cashRvId">
              <div>
                <label>Voucher Id<sup>*</sup></label>
                <input ng-model="cform.cashRvId"  type="text" class="textfield" name="voucherId"  />
              </div>
            </li>
            <li>
              <div>
                <label>Id Date<sup>*</sup></label>
                <input ng-model="cform.cashRvIdDate" ng-change="calculateFinYear(cform.cashRvIdDate)" type="text"
                  class="textfield " datepicker name="id_date" />
              </div>
            </li>
            <li>
              <div>
                <label>Fin Year<sup>*</sup></label>
                <input ng-model="cform.finYear" type="text" class="textfield" name="fin_year" />
              </div>
            </li>
            <li>
              <div>
                <label>Voucher No.</label>
                <input ng-model="cform.cashRvNo" type="text" class="textfield" name="voucher_no" />
              </div>
            </li>
            <li>
              <div>
                <label>Voucher Date</label>
                <input ng-model="cform.cashRvDate" type="text" class="textfield" datepicker name="voucher_date" />
              </div>
            </li>
            <!-- <li>
                <div>
                  <label for="voucherStatusCode">Status <sup>*</sup></label>
                  <select class="dropdd" name="voucherStatusCode" ng-model="cform.voucherStatusCode" required
                    ng-disabled="isDisable"
                    ng-options="x.voucherStatusCode as (x.voucherStatusCode + ' - ' + x.dscr.toUpperCase()) for x in voucherType"
                    ng-disabled=" isDisable || (role === 'manager' && x.voucherStatusCode === 'F') || (role === 'cashier' && x.voucherStatusCode === 'P')"
                    ng-show="role === 'assistant' ? (x.voucherStatusCode !== 'R' && x.voucherStatusCode !== 'P' && x.voucherStatusCode !== 'C' && x.voucherStatusCode !== 'A') : (role === 'manager' ? (x.voucherStatusCode !== 'U' && x.voucherStatusCode !== 'C' && x.voucherStatusCode !== 'A') : (role === 'cashier' ? (x.voucherStatusCode !== 'U' && x.voucherStatusCode !== 'F' && x.voucherStatusCode !== 'R') : true))">
                    <option value="" disabled selected>--Select--</option>
                  </select>
                </div>
              </li> -->
            <li>
              <div>
                <label for="voucherStatusCode">Status <sup>*</sup></label>
                <select class="dropdd" name="voucherStatusCode" ng-model="cform.voucherStatusCode" required>
                  <option value="" disabled selected>--Select--</option>
                  <option ng-repeat="x in voucherType" value="{{x.voucherStatusCode}}"
                    ng-disabled=" isDisable || (role === 'manager' && x.voucherStatusCode === 'F') || (role === 'cashier' && x.voucherStatusCode === 'P')"
                    ng-show="role === 'assistant' ? (x.voucherStatusCode !== 'R' && x.voucherStatusCode !== 'P' && x.voucherStatusCode !== 'C' && x.voucherStatusCode !== 'A') : (role === 'manager' ? (x.voucherStatusCode !== 'U' && x.voucherStatusCode !== 'C' && x.voucherStatusCode !== 'A') : (role === 'cashier' ? (x.voucherStatusCode !== 'U' && x.voucherStatusCode !== 'F' && x.voucherStatusCode !== 'R') : true))">
                    {{x.voucherStatusCode}} - {{x.dscr.toUpperCase()}}
                  </option>
                </select>
              </div>
            </li>
          </ul>
        </div>
        <div class="white-box forms form2">
          <h3>Payer Details:</h3>
          <ul>
            <li>
              <div>
                <label>Payer Type<sup>*</sup></label>
                <select class="dropdd" name="payFromTypeCode" ng-model="cform.payFromTypeCode" required
                  ng-change="fieldDisable(cform.payFromTypeCode)" ng-disabled="isDisable || disableFlag1">
                  <option value="" disabled selected>--Select--</option>
                  <option ng-repeat="x in payeeTypeData" value="{{x.payToTypeCode}}">{{x.payToTypeCode}} -
                    {{x.dscr.toUpperCase()}}</option>
                </select>
              </div>
              <div class="error"
                ng-show="cForm.payFromTypeCode.$error.required && cForm.payFromTypeCode.$touched && !formSubmitted">
                This field is required.
              </div>
            </li>
            <li>
              <div>
                <label>Vendor Code</label>
                <div class="flexbox">
                  <select class="dropdd" name="vender_code2" ng-disabled="isDisable || disableVendor || disableFlag1"
                    ng-model="cform.vendorCode"
                    ng-change="getVendorDscr(cform.vendorCode); setPurchaseOrderDetails(cform.vendorCode)">
                    <option value="" disabled selected>Select</option>
                    <option ng-repeat="x in supplierData" value="{{x.vendorCode}}"
                      ng-show="x.vendorCode != form.vendorCode">{{x.vendorCode}} {{x.vendorCode != form.vendorCode ? '
                      - ' + x.fullName.toUpperCase() : '' }}</option>
                  </select>
                  <input type="text" class="textfield" name="vender_code" value="" placeholder=""
                    ng-model="cform.vendorDscr" ng-disabled="isDisable || disableFlag1" />
                </div>
              </div>
            </li>
            <li>
              <div>
                <label>Employee No.</label>
                <div class="flexbox">
                  <select class="dropdd" name="payee_type" ng-model="cform.staffNo"
                    ng-change="getEmpDscr(cform.staffNo)" ng-disabled=" isDisable ||disableEmp || disableFlag1 ">
                    <option value="" disabled selected>--Select--</option>
                    <option ng-repeat="x in empData" value="{{x.staffNo}}" ng-show="form.staffNo != x.staffNo">
                      {{x.staffNo}} {{form.staffNo != x.staffNo ? ' - ' + x.fullName:''}}
                    </option>
                  </select>
                  <input type="text" class="textfield" name="employee_no" value="" ng-model="cform.empDscr"
                    placeholder="" ng-disabled=" isDisable ||disableEmp || disableFlag1" />
                </div>
              </div>
            </li>
            <li>
              <div>
                <label>Student Reg. No.</label>
                <div class="flexbox">
                  <select class="dropdd" style="width: 55%;" name="student_reg_no2"
                    ng-disabled=" isDisable ||disableStu ||  disableFlag1" ng-model="cform.univRegistrationNo"
                    ng-change="getStudentDscr(cform.univRegistrationNo)">
                    <option value="" disabled selected>--Select--</option>
                    <option ng-repeat="x in studentData" value="{{x.univRegistrationNo.toString()}}"
                      ng-show="cform.univRegistrationNo != x.univRegistrationNo">
                      {{x.univRegistrationNo}} {{form.univRegistrationNo != x.univRegistrationNo ? ' - ' + x.fullName
                      : ''}}
                      <!-- {{x.univRegistrationNo}} - {{x.fullName.toUpperCase()}} -->
                    </option>
                  </select>
                  <input type="text" class="textfield" name="student_reg_no" ng-model="cform.studentDscr" placeholder=""
                    ng-disabled=" isDisable ||disableStu || disableFlag1" />
                </div>
              </div>
            </li>
            <li>
              <div>
                <label>Paid by<sup>*</sup></label>
                <input type="text" class="textfield" name="paidBy" required value="" placeholder=""
                  ng-model="cform.recvdFrom" ng-disabled=" isDisable ||paidByFlag || disableFlag1 " />
              </div>
              <div class="error" ng-show="cForm.paidBy.$error.required && cForm.paidBy.$touched && !formSubmitted">
                This field is required.
              </div>
            </li>
            <li>
              <div>
                <label>Address</label>
                <input type="text" class="textfield" name="address" value="" placeholder="" ng-model="cform.address "
                  ng-disabled=" isDisable || disableFlag1" />
              </div>
            </li>
          </ul>
          <ul>
            <li>
              <div>
                <label>Department</label>
                <div class="flexbox">
                  <input type="text" class="textfield" name="department" value="" placeholder=""
                    ng-model="cform.departmentCode" ng-disabled=" isDisable ||vflag || disableFlag1 " />
                  <input type="text" class="textfield" name="department2" value="" placeholder=""
                    ng-model="cform.departmentDscr" ng-disabled=" isDisable ||vflag || disableFlag1 " />
                </div>
              </div>
            </li>
            <li>
              <div>
                <label>College</label>
                <div class="flexbox">
                  <input type="text" class="textfield" name="college" value="" placeholder=""
                    ng-model="cform.collegeCode" ng-disabled=" isDisable ||vflag || disableFlag1 " />
                  <input type="text" class="textfield" name="college2" value="" placeholder=""
                    ng-model="cform.collegeDscr" ng-disabled=" isDisable ||vflag || disableFlag1 " />
                </div>
              </div>
            </li>
            <li>
              <div>
                <label>University</label>
                <div class="flexbox">
                  <input type="text" class="textfield" name="university" value="" placeholder=""
                    ng-model="cform.universityCode" ng-disabled=" isDisable ||vflag || disableFlag1 " />
                  <input type="text" class="textfield" name="" value="" placeholder="" ng-model="cform.universityDscr"
                    ng-disabled=" isDisable ||vflag || disableFlag1 " />
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="white-box forms notop">
          <ul>
            <li>
              <div class="flexbox">
                <label>Narration<sup>*</sup></label>
                <input ng-model="cform.narration" type="text" class="textfield" name="narration" required />
              </div>
              <div class="error"
                ng-show="cForm.narration.$error.required && cForm.narration.$touched && !formSubmitted">
                This field is required.
              </div>
            </li>
          </ul>
        </div>
        <div class="white-box forms">
          <h3>Indent/Purchase Order Details:</h3>
          <ul>
            <li class="smallsec">
              <div>
                <label>Indent No</label>
                <input ng-model="cform.indentNo" type="text" class="textfield" name="indent_no" />
              </div>
            </li>
            <li class="smallsec">
              <div>
                <label>Date</label>
                <input ng-model="cform.indentDate" type="text" class="textfield " datepicker name="date" />
              </div>
            </li>
            <li class="smallsec">
              <div>
                <label>PO Id</label>
                <input type="text" class="textfield " datepicker name="date3" value="" ng-model="cform.poId"
                  ng-disabled=" isDisable || hideFlag || disableFlag1" />
              </div>
            </li>
            <li class="smallsec">
              <div>
                <label>Fin Year</label>
                <input type="text" class="textfield" name="fin_year2" value="" ng-model="cform.poFinYear"
                  ng-disabled=" isDisable || hideFlag || disableFlag1" />
            </li>
            <li style="min-width: 25%;">
              <div>
                <label for="poNumber">PO No.</label>
                <select class="dropdd" id="poNumber" name="poNumber"
                  ng-disabled=" isDisable || hideFlag || disableFlag1" ng-model="cform.poNumber"
                  ng-change="getPurchaseOrderDetails(cform.poNumber)">
                  <option value="">Select</option>
                  <option ng-repeat="x in poDetails" value="{{x.poNumber}}">{{x.poNumber}}</option>
                </select>
              </div>
            </li>
            <li>
              <div>
                <label>Date</label>
                <input type="text" class="textfield " datepicker name="date3" value="" ng-model="cform.poDate"
                  ng-disabled=" isDisable || hideFlag || disableFlag1" />
              </div>
            </li>
          </ul>
        </div>

        <div class="white-box forms">
          <h3>Plan / Project Details:</h3>
          <ul>
            <li>
              <div>
                <label>Plan No.</label>
                <!-- <input type="text" class="textfield" name="plan_no" value=""  ng-disabled=" isDisable || hideFlag || disableFlag1"
                              ng-model="cform.planNo" /> -->
                <select class="dropdd" name="plan_no" ng-model="cform.planNo" ng-change="selectplan(cform.planNo,data)"
                  ng-disabled=" isDisable || hideFlag || disableFlag1">
                  <option value="" disabled selected>Select PlanNo</option>
                  <option ng-repeat="x in planNos" value="{{x}}">{{x}}
                  </option>
                </select>
              </div>
            </li>
            <li>
              <div>
                <label>Fin Year</label>
                <input type="text" class="textfield" name="fin_year3" value=""
                  ng-disabled=" isDisable || hideFlag || disableFlag1" ng-model="cform.planFinYear" />
              </div>
            </li>
            <li>
              <div>
                <label>Plan Type</label>
                <input class="textfield" name="plan_type" ng-disabled=" isDisable || hideFlag || disableFlag1"
                  ng-model="cform.planTypeCode">

              </div>
            </li>
            <li>
              <div>
                <label>Plan Title</label>
                <input type="text" class="textfield" name="plan_title" value="" ng-model="cform.planTitle"
                  ng-disabled=" isDisable || hideFlag || disableFlag1" />
              </div>
            </li>
            <li>
              <div>
                <label>Budget Fin Year</label>
                <input type="text" class="textfield" name="budget_fin_year" value="" ng-model="cform.budgetFinYear"
                  ng-disabled=" isDisable || hideFlag || disableFlag1" />
              </div>
            </li>
          </ul>
        </div>

        <div class="white-box forms form2">
          <h3>Processing Details:</h3>
          <ul>
            <li>
              <div>
                <label>Account No</label>
                <select class="dropdd" name="account_no2" ng-model="cform.bankAcNo" ng-disabled="isDisable"
                  ng-change="getbankdeatil(cform.bankAcNo)"
                  ng-options="x.bankAccountNo as (x.bankAccountNo + ' - ' + x.dscr) for x in  bankaccountData">
                  <option value="" disabled selected>Select Account</option>
                </select>
              </div>
            </li>
            <li>
              <div>
                <label>Bank<sup>*</sup></label>
                <div class="flexbox">
                  <input type="text" class="textfield ng-pristine ng-untouched ng-valid ng-not-empty" name="bank2"
                    ng-disabled="isDisable || disableFlag1" value="" ng-model="cform.bankCode">
                  <input type="text" class="textfield ng-pristine ng-untouched ng-valid ng-not-empty" name="bank3"
                    ng-disabled="isDisable || disableFlag1" value="" ng-model="cform.bankDscr">
                </div>
              </div>
            </li>
            <li class="smallsec">
              <div>
                <label>Bank Deposit Date</label>
                <div>
                  <input ng-model="cform.bankDepositDate" type="text" class="textfield " datepicker
                    name="bank_deposit_date" />
                </div>
              </div>
            </li>
            <li class="smallsec">
              <div>
                <label>Recepit No.</label>
                <div>
                  <input ng-model="cform.receiptNo" type="text" class="textfield" name="recepit_no" />
                </div>
              </div>
            </li>
            <li class="smallsec">
              <div>
                <label>Date</label>
                <input ng-model="cform.receiptDate" type="text" class="textfield" name="date" />
              </div>
            </li>
            <li>
              <div>
                <label>Assistant<sup>*</sup></label>
                <div class="flexbox" name="assistant3">
                  <input type="text" class="textfield" name="assistant" value="" ng-model="assistantStaffNo"
                    ng-init="setAssisName(assistantStaffNo)" ng-disabled="isDisable || disableFlag1" />
                  <input type="text" class="textfield" ng-model="assistantName" name="assistant2" value=""
                    ng-disabled="isDisable || disableFlag1" />
                </div>
              </div>
            </li>
            <li>
              <div>
                <label>Manager</label>
                <div class="flexbox">
                  <input type="text" class="textfield" name="manager" value="" ng-model="managerStaffNo"
                    ng-disabled="isDisable || disableFlag1" />
                  <input type="text" class="textfield" name="manager2" value="" ng-model="managerName"
                    ng-disabled="isDisable || disableFlag1" />
                </div>
              </div>
            </li>
            <li>
              <div>
                <label>Cashier</label>
                <div class="flexbox">
                  <input type="text" class="textfield" name="cashier" value="" ng-model="mgrcashStaffNo"
                    ng-disabled="isDisable || disableFlag1" />
                  <input type="text" class="textfield" name="cashier2" value="" ng-model="cashierName"
                    ng-disabled="isDisable || disableFlag1" />
                </div>
              </div>
            </li>
          </ul>
          <ul>
            <li class="smallsec">
              <div>
                <label>Ref No.</label>
                <input type="text" class="textfield" name="ref_no" value="" ng-disabled="isDisable || disableFlag1"
                  ng-model="cform.refNo" />
              </div>
            </li class="smallsec">
            <li>
              <div>
                <label>Date</label>
                <input type="text" class="textfield " datepicker name="date7" value=""
                  ng-disabled="isDisable || disableFlag1" ng-model="cform.refDate" />
              </div>
            </li>
            <li>
              <div>
                <label>Advance Id</label>
                <input class="textfield" name="advance_id" ng-model="cform.advanceId"
                  ng-disabled="isDisable || disableFlag1">
                </input>
              </div>
            </li>
            <li>
              <div>
                <label>Fin Year</label>
                <input type="text" class="textfield" name="fin_year4" ng-model="cform.advanceFinYear"
                  ng-disabled="isDisable || disableFlag1" />
              </div>
            </li>
            <li class="smallsec">
              <div>
                <label>VR Passed Date</label>
                <input type="text" class="textfield " datepicker name="voucher_passed_date" ng-model="cform.datePassed"
                  ng-disabled="isDisable || disableFlag2 || !disableFlag3" ng-required="disableFlag3" />
              </div>
            </li>
            <li class="">
              <div>
                <label>Net Amount</label>
                <input type="text" class="textfield" name="passed_amount" ng-model="cform.voucherNetAmount"
                  ng-disabled="true" />
              </div>
              <div class="error" ng-show="negFlag">
                Never be Negetive!
              </div>
            </li>
         
            <li>
              <div class="">
                <label>Amount in words</label>
                <input type="text" class="textfield" name="amount_in_words" ng-model="ammountInWords"
                  ng-disabled="true" />
              </div>
            </li>
          </ul>
          <div class="btnlist text-center"><button type="submit" ng-disabled="isDisable || negFlag" class="bluebtn">Save
              and
              Next</button>
            <!-- <button type="button" class="bluebtn" disabled>Next</button> -->
          </div>
        </div>
      </form>
    </div>
    <div id="tab2" class="maintabsec ">
      <div class="titles text-center">Cash Receipt Voucher Details</div>
      <form ng-submit="saveCashRvDet()">
        <div class="white-box forms notop">
          <ul>
            <li>
              <div>
                <label>Voucher Id<sup>*</sup></label>
                <input type="text" class="textfield" name="voucher" value="" ng-model="cform.cashRvId"
                  ng-disabled="true" />
              </div>
            </li>
            <li>
              <div>
                <label>Id Date<sup>*</sup></label>
                <input type="text" class="textfield " datepicker name="id_date" value="" ng-model="cform.cashRvIdDate"
                  ng-disabled="true" />
              </div>
            </li>
            <li>
              <div>
                <label>Fin Year<sup>*</sup></label>
                <input type="text" class="textfield" name="fin_year" value="" ng-model="cform.finYear"
                  ng-disabled="true" />
              </div>
            </li>
            <li>
              <div>
                <label>Voucher No.</label>
                <input type="text" class="textfield" name="voucher_no" value="" ng-model="cform.bankPvNo"
                  ng-disabled="true" />
              </div>
            </li>
            <li>
              <div>
                <label>Voucher Date</label>
                <input type="text" class="textfield " datepicker name="voucher_date" value="" ng-model="cform.bankPvDate"
                  ng-disabled="true" />
              </div>
            </li>
            <li>
              <div>
                <label for="voucherStatusCode">Status <sup>*</sup></label>
                <select class="dropdd" name="voucherStatusCode" ng-model="cform.voucherStatusCode" required
                  ng-disabled="true">
                  <option value="" disabled selected>--Select--</option>
                  <option ng-repeat="x in voucherType" value="{{x.voucherStatusCode}}"
                    ng-disabled=" isDisable || (role === 'manager' && x.voucherStatusCode === 'F') || (role === 'cashier' && x.voucherStatusCode === 'P')"
                    ng-show="role === 'assistant' ? (x.voucherStatusCode !== 'R' && x.voucherStatusCode !== 'P' && x.voucherStatusCode !== 'C' && x.voucherStatusCode !== 'A') : (role === 'manager' ? (x.voucherStatusCode !== 'U' && x.voucherStatusCode !== 'C' && x.voucherStatusCode !== 'A') : (role === 'cashier' ? (x.voucherStatusCode !== 'U' && x.voucherStatusCode !== 'F' && x.voucherStatusCode !== 'R') : true))">
                    {{x.voucherStatusCode}} - {{x.dscr.toUpperCase()}}
                  </option>
                </select>
              </div>
            </li>
          </ul>
        </div>
        <div class="white-box forms ">
          <div class="recordlist">
            <ul class="addcol6">
              <li class="width5 ">
                <div>
                  <label>SL No</label>
                </div>
              </li>
              <li>
                <div>
                  <label>Account No.<sup>*</sup></label>
                </div>
              </li>
              <li class="smallsec width24">
                <div>
                  <label>Account Description</label>
                </div>
              </li>
              <li>
                <div>
                  <label> (₹) Debit Amount</label>
                </div>
              </li>
              <li>
                <div>
                  <label>(₹) Credit Amount</label>
                </div>
              </li>
              <li>
                <div>
                  <label>Remarks</label>
                </div>
              </li>
            </ul>
            <ul class="addcol6" ng-repeat="v in crvds">
              <li class="width5">
                <div>
                  <input type="hidden" class="textfield" name="sl_no" value="{{v.cashRvDetSlno}}"
                    ng-model="v.cashRvDetSlno" ng-disabled="true" />
                  <input type="text" class="textfield" name="ind" value="{{$index+1}}" ng-disabled="true" />
                </div>
              </li>
              <li>
                <div>
                  <select class="dropdd" name="accountNo" ng-model="v.accountCode"
                    ng-change="setAccountDscr(v.accountCode,$index)" ng-init="setAccountDscr(v.accountCode,$index)"
                    ng-disabled="isDisable" required>
                    <option value="">Select</option>
                    <option ng-repeat="account in accMasterData" value="{{account.accountCode}}"
                      ng-show="v.accountCode!=account.accountCode">
                      {{account.accountCode}} {{ v.accountCode != account.accountCode ? ' - '+ account.dscr : ''}}
                    </option>
                  </select>
                </div>
              </li>
              <li class="width24">
                <div>
                  <div>
                    <input type="text" class="textfield" name="account_description" value="" ng-model="v.accDscr"
                      ng-disabled="true" />
                  </div>
                </div>
              </li>
              <li>
                <div>
                  <input type="text" class="textfield" num-only name="debit_amount" value="v.dbAmount "
                    ng-change="getTotalAmmounts()" style="text-align: end;" ng-init="getTotalAmmounts()"
                    ng-model="v.dbAmount"
                    ng-disabled="isDisable || v.crAmount !== null && v.crAmount !== '' && v.crAmount !== undefined || disableFlag1" />
                </div>
              </li>
              <li>
                <div>
                  <div>
                    <input type="text" class="textfield" num-only name="credit_amount" value="v.crAmount "
                      ng-change="getTotalAmmounts()" style="text-align: end;" ng-init="getTotalAmmounts()"
                      ng-model="v.crAmount"
                      ng-disabled="isDisable || v.dbAmount !== null && v.dbAmount !== '' && v.dbAmount !== undefined || disableFlag1" />
                  </div>

                </div>
              </li>
              <li class="width24">
                <div>
                  <input type="text" class="textfield" name="remark" value="" ng-model="v.remarks"
                    ng-disabled="isDisable ||  disableFlag1" />
                </div>
              </li>
              <li class="width3 checkbtn"><label><input type="checkbox" ng-model="v.select" name="deletecheck"
                    ng-click="setdeleteCashRvD(cform.cashRvId,cform.finYear,v)" class="checksec"
                    ng-disabled="isDisable || disableFlag1"> </label>
              </li>
            </ul>
          </div>
          <ul class="addcol6">
            <li class="width35">
              <div style="text-align: right; padding-top: 7px;">
                <label>Total</label>
              </div>
            </li>
            <li>
              <div><input type="number" ng-view="{{totalDebitAmount}}" style="text-align: end;" class="textfield"
                  name="total_debit" value="{{totalDebitAmount}}" ng-disabled=" isDisable || true" />
              </div>
            </li>
            <li>
              <div><input type="number" class="textfield" ng-view="{{totalCreditAmount}}" value="{{totalCreditAmount}}"
                  style="text-align: end;" name="total_credit" ng-disabled=" isDisable || true" />
              </div>
              <div class="error" ng-show="negFlag">
                Never less than Debit Amount!
              </div>
            </li>
          </ul>
          <div class="btnlist">
            <ul>
              <li>
                <div><button type="button" class="bluebtn addfield" ng-click="addObj()"
                    ng-disabled="isDisable || disableFlag1">ADD</button></div>
              </li>
              <!-- <li><div><button type="button" class="bluebtn">EDIT</button></div></li> -->
              <li>
                <div><button type="button" class="bluebtn deletebtn" ng-click="deleteCashRvD();" disabled
                    ng-disabled="isDisable || disableFlag1">Delete</button>
                </div>
              </li>
              <li>
                <div class="btncenter"><button type="submit" class="bluebtn" ng-disabled="negFlag"
                    ng-disabled="isDisable || disableFlag1">SUBMIT</button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </form>
    </div> 
</section>