  <section class="formsec1" ng-controller="castContr">
    <div class="titles">{{subbreadcrumb}}</div>
    <form name="myform" ng-submit="save()" novalidate >
      <div class="white-box forms notop">
        <ul>
          <li>
            <label for="casteCode">Caste Code</label>
            <input type="text" class="textfield" ng-model="form.casteCode" id="casteCode"
              placeholder="Caste Code" alphanumeric-validation ng-disabled="idDisable" maxlength="3" required  
              name="casteCode" ng-blur="checkForDuplicate(form.casteCode)">
            <div class="error"
              ng-show="myform.casteCode.$error.required && myform.casteCode.$touched && !formSubmitted">
              This field is required.
            </div>
            <div class="error"
                              ng-show="myform.casteCode.$error.alphanumeric && myform.casteCode.$touched && !formSubmitted">
                              Please enter an alphanumeric value.
                        </div>
            <div class="error"
          ng-show="duplicateCode && myform.casteCode.$touched"> 
          This Caste Code already exists.
       </div>
          </li>
          <li>
            <label for="dscr">Description</label>
            <input type="text" class="textfield" m-name m-capitalize ng-model="form.dscr" id="dscr" placeholder="Description" maxlength="30"
              required name="dscr">
            <div class="error" ng-show="myform.dscr.$error.required && myform.dscr.$touched && !formSubmitted">
              This field is required.

            </div>
          </li>
          <li>
            <div>
              <button type="submit" class="bluebtn " style="margin-top: 15px; "ng-disabled="myform.$invalid || duplicateCode">Save</button>
            </div>
          </li>
      </div>
      </ul>

      </div>
    </form>
    <div class="white-box ">

      <table class="table table-bordered text-center regtable table-condensed">
        <thead>
          <tr>
            <th style="text-align: center;" width="400">Caste Code</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="n in casteData" class="tdcolor">
            <td ng-bind="n.casteCode |uppercase"> </td>
            <td ng-bind="n.dscr|uppercase"></td>

            <td><button type="button" class="bluebtn" ng-click="edit(n)">Edit</button>

            </td>

          </tr>


        </tbody>
      </table>
    </div>
  </section>
    
