<div class="flexboxspace">
      <div class="bigwidth">
        <div class="white-box">
          <div class="titles" data-aos="fade-up" data-aos-duration="1000">Today's Status</div>
  
          <ul class="list4">
            <li>
              <a href="#" class="boxs" style="background: #eef0f8;" data-aos="fade-in" data-aos-duration="500"
                data-aos-delay="200" data-aos-easing="ease-in-back" data-aos-offset="0">
                <div class="icons"><i class="fa fa-users"></i></div>
                <div class="tbpad">
                  <div class="heading2">285</div>
                  <div class="stitle">No. of Payment Vouchers</div>
                </div>
                <div class="btn bgwhite">+60%</div>
              </a>
            </li>
            <li><a href="#" class="boxs" style="background: #f8f0e7;" data-aos="fade-in" data-aos-duration="500"
                data-aos-delay="200" data-aos-easing="ease-in-back" data-aos-offset="0">
                <div class="icons"><i class="fa fa-users"></i></div>
                <div class="tbpad">
                  <div class="heading2">234,325</div>
                  <div class="stitle">Total Payment Made</div>
                </div>
                <div class="btn bgwhite">+60%</div>
              </a>
            </li>
            <li>
              <a href="#" class="boxs" style="background: #f9e8e8;" data-aos="fade-in" data-aos-duration="500"
                data-aos-delay="200" data-aos-easing="ease-in-back" data-aos-offset="0">
                <div class="icons"><i class="fa fa-users"></i></div>
                <div class="tbpad">
                  <div class="heading2">164</div>
                  <div class="stitle">No. of Receipt Vouchers</div>
                </div>
                <div class="btn bgwhite">+60%</div>
              </a>
            </li>
            <li>
              <a href="#" class="boxs" style="background: #e6f2e2;" data-aos="fade-in" data-aos-duration="500"
                data-aos-delay="200" data-aos-easing="ease-in-back" data-aos-offset="0">
                <div class="icons"><i class="fa fa-users"></i></div>
                <div class="tbpad">
                  <div class="heading2">87,934</div>
                  <div class="stitle">Total Payment Received</div>
                </div>
                <div class="btn bgwhite">+60%</div>
              </a>
            </li>
          </ul>
        </div>
        <!-- <div class="flexboxspace">
          <ul class="list2"
            style="display: flex; width: calc(100% + 10px); margin: 0 -5px; justify-content: space-between;">
            <li>
              <div class="white-box">
                <div id="chartdiv"></div>
              </div>
            </li>
            <li>
              <div class="white-box">
                <div id="chartdiv1"></div>
              </div>
            </li>
          </ul>
        </div>
        <style>
          #chartdiv {
            height: 400px;
          }
        </style> -->
  
      </div>
      <div class="smallwidth">
        <div class="white-box">
          <div class="titles" data-aos="fade-up" data-aos-duration="1000">Recent Projects</div>
          <table class="table table-bordered">
            <tr>
              <th>Name</th>
              <th>Amount</th>
            </tr>
            <tr>
              <td>Setting-up of AI Lab <br>01711-525236</td>
              <td>₹9,587</td>
            </tr>
            <tr>
              <td>Setting-up of Physics Lab <br>04611-525436</td>
              <td>₹4,564</td>
            </tr>
            <tr>
              <td>Orgnization of Conference <br>01711-525236</td>
              <td>₹9,587</td>
            </tr>
            <tr>
              <td>Training on Computer <br>04611-525436</td>
              <td>₹4,564</td>
            </tr>
          </table>
        </div>
      </div>
    </div>