<section class="formsec1" ng-controller="staffSepTypeCtrl">
    <div class="titles">{{subbreadcrumb}}</div>
    <form name="myform" ng-submit="save()" novalidate>
        <div class="forms white-box notop">
            <ul>
                <li>
                    <label for="separationTypeCode">Staff Separation Code</label>
                    <input type="text" class="textfield" name="separationTypeCode" ng-model="form.separationTypeCode"
                        id="separationTypeCode" placeholder="Staff Separation Code" num-only ng-disabled="idDisable"
                        maxlength="2" ng-blur="checkForDuplicate(form.separationTypeCode)" required>
                    <div class="error"
                        ng-show="myform.separationTypeCode.$error.required && myform.separationTypeCode.$touched && !formSubmitted">
                        This field is required.
                    </div>
                    <div class="error" ng-show="duplicateCode && myform.separationTypeCode.$touched">
                        This Separation type Code already exists.
                    </div>
                </li>
                <li>
                    <label for="dscr">Description</label>
                    <input type="text" class="textfield" m-name ng-model="form.dscr" id="dscr" placeholder="Description"
                        maxlength="30" required name="dscr">
                    <div class="error" ng-show="myform.dscr.$error.required && myform.dscr.$touched && !formSubmitted">
                        This field is required.
                    </div>
                </li>
                <li>
                    <div>
                        <button type="submit" class="bluebtn" style="margin-top: 15px;"
                            ng-disabled="myform.$invalid || duplicateCode">Save</button>
                    </div>
                </li>
            </ul>
        </div>
    </form>
    <div class="white-box">
        <table class="table table-bordered text-center regtable table-condensed">
            <thead>
                <tr>
                    <th style="text-align: center;">Staff Status Code</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="n in staffSepData" class="tdcolor">
                    <td ng-bind="n.separationTypeCode"></td>
                    <td ng-bind="n.dscr | uppercase"></td>
                    <td>
                        <button type="button" class="bluebtn" ng-click="edit(n)">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>